<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Pet Sitters</title>
    </head>
    <body>
            <nav-bar></nav-bar>
            <div *ngIf="!loggedIn" class="banner">
                <h2>Присъединете се към семейството!</h2>
               <button mat-raised-button href="#" color="accent" (click)="loggedIn && navigateToRegister()">Създай профил</button>
            </div>
            <div class="pet-list">
              <filters></filters>
                <mat-grid-list cols="3" rowHeight="4:5">
                  <!-- <mat-grid-tile colspan="1" rowspan="2" class="filters"><filters></filters></mat-grid-tile> -->
                      <mat-grid-tile *ngFor="let sitter of sitters"
                        colspan="1"
                        rowspan="1" (click)="navigateToDetails(sitter)"><sitter-card [sitter]="sitter"></sitter-card></mat-grid-tile>
                  </mat-grid-list>

                  <!-- <pet-card></pet-card> -->
                <!-- <mat-grid-list cols="2" rowHeight="2:1">
                    <mat-grid-tile>1</mat-grid-tile>
                    <mat-grid-tile>2</mat-grid-tile>
                    <mat-grid-tile>3</mat-grid-tile>
                    <mat-grid-tile>4</mat-grid-tile>
                  </mat-grid-list> -->
            </div>
    </body>
</html>