<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Pet Sitters</title>
    </head>
    <body>
            <nav-bar></nav-bar>
            <div class="banner">
                <h2>Присъединете се към семейството!</h2>
               <button mat-raised-button href="#" color="accent">Създай профил</button>
            </div>
            <div class="pet-list">
                <pet-card></pet-card>
            </div>
    </body>
</html>