<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Pet Sitters Home Page</title>
    </head>
    <body>
        <div class = "background">
            <nav-bar></nav-bar>
            <div class="content">
                <h2 class="anim">Станете част от нашето семейство!</h2>
                <p class="anim"> Нашата общност е живо пространство, където<br>
                     любителите на животни стават професионални <br>
                     гледачи, а собствениците намират идеалния <br>
                     грижител за своите пухкави членове на семейството.</p>
                <button *ngIf="!loggedIn" mat-raised-button href="#" class="btn anim"  color="primary" (click)="register()">Присъединете се сега!</button>
            </div>
            <img src="assets/woman-with-dog2.png" alt="woman" class="woman-dog anim">
        </div>
    </body>
</html>