.example-card {
    max-width: 270px;
    padding: 0;
  }
  
  div{
    margin:3%;
  }
  .fontawesomesvg {
    max-width: 1.5vw;
    padding-left: 2%;
    padding-right: 2%;
  }

.dates{
    font-size: small;
}
  
.picture {
    height: 40vh;
    width: 100%;
    object-fit: cover;
}
  