.example-card {
    max-width: 300px;
    padding: 0;
  }
  
  .example-header-image {
    background-image: url(../../src/assets/profile-pic1.jpg);
    background-size: cover;
  }
  .pet-desc{
    display: flex;
    justify-content:space-between;
    flex-wrap: wrap;
  }
  div{
    margin:3%;
  }
  