<!-- <mat-toolbar>
    <span>Lubimci</span>
    <span> Pet sitters</span>
    <span> pet Owners</span>
    <span> profile</span>

</mat-toolbar> -->

<nav>
    <a href="/"  routerLinkActive="active">
    <img src="assets/logo2.png" class="logo">
    </a>
    <ul>
        <li><a href="/pet-sitters">Гледачи</a></li>
        <li><a href="#">Стопани</a></li>
        <li><a href="#">Как работи?</a></li>
    </ul>
    <div>
        <a href="#" class="login-btn">Вход</a>
        <a href="#" class="signup-btn">Създай профил</a>
    </div>
</nav>