<!-- <mat-toolbar>
    <span>Lubimci</span>
    <span> Pet sitters</span>
    <span> pet Owners</span>
    <span> profile</span>

</mat-toolbar> -->

<mat-toolbar>
    <a href="/home-page"  routerLinkActive="active">
    <img src="assets/logo2.png" class="logo">
    </a>
        <button (click)="NavigateToSitters()" mat-button>Гледачи</button>
        <button mat-button (click)="NavigateToOwners()">Стопани</button>
        <button mat-button>Как работи?</button>
    
    <div>
        <button mat-button class="login-btn">Вход</button>
        <button mat-raised-button class="signup-btn" color="accent">Създай профил</button>
    </div>
</mat-toolbar>