
.logo{
    width: 80px;
}

mat-toolbar{
    background-color: #FEFEFE;
    justify-content: space-around;
}

button{
    font-weight: bold;
}

button{
    /* background-color: #EF5877; */
    border-radius: 20px;
}




