<mat-toolbar>
    <a href="/home-page"  routerLinkActive="active">
    <img src="assets/logo2.png" class="logo">
    </a>
        <button (click)="NavigateToSitters()" mat-button>Гледачи</button>
        <button mat-button (click)="NavigateToOwners()">Стопани</button>
        <button mat-button (click)="NavigateToHowPage()">Как работи?</button>
    
    <div>
        <button *ngIf="!loggedIn" mat-button class="login-btn" (click)="NavigateToLogin()">Вход</button>
        <button *ngIf="!loggedIn" mat-raised-button class="signup-btn" color="accent" (click)="NavigateToRegistration()">Създай профил</button>
        <button *ngIf="loggedIn" mat-raised-button class="edit-btn" color="accent" (click)="NavigateToEditProfile()">
            <div class="profile-button">
                <img class="profile-pic" [src]="picture">
                <span>{{userName}}</span>
            </div>
        </button>
    </div>  
</mat-toolbar>