
.logo{
    width: 80px;
}

mat-toolbar{
    background-color: #FEFEFE;
    justify-content: space-around;
}

button{
    font-weight: bold;
}

button{
    border-radius: 20px;
}

.profile-pic{
    max-width: 1.75rem;
    border-radius: 50px;
    margin-right: 1rem;
}


.profile-button{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem; 
}







