<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Pet Sitters</title>
    </head>
    <body>
        <nav-bar></nav-bar>
        <div class="sitter-info">
            <div class="carousel">
                <c-carousel [animate]="false" [dark]="true" [interval]="99999999999">
                    <c-carousel-inner>
                      <c-carousel-item *ngFor="let slide of slides">
                        <img
                          [src]="slide.src"
                          alt="{{ slide.title }}"
                          class="d-block w-100"
                          loading="lazy"
                           />
                      </c-carousel-item>
                      <c-carousel-control class="prev" caption="Previous" direction="prev">
                        <mat-icon aria-hidden="false" fontIcon="keyboard_arrow_right"></mat-icon></c-carousel-control>
                      <c-carousel-control class="next" caption="Next" direction="next">
                        <mat-icon aria-hidden="false" fontIcon="keyboard_arrow_left"></mat-icon></c-carousel-control>
                    </c-carousel-inner>
                    <div class="approved"><p class="auth">100% Проверена самоличност</p></div>
                  </c-carousel>
            </div>
            <div class="info">
                <div class="name">Петя Николова</div>
                <div class="price">Цена: 10<span>лв/час</span></div>
                <button mat-raised-button href="#" color="accent">Свържете се</button>
                <table>
                    <tr>
                        <td>Адрес:</td>
                        <td>ул. "Георги С. Раковски" 108</td>
                    </tr>
                    <tr>
                        <td>Грижа се за: </td>
                        <td>Кучета, Котки</td>
                    </tr>
                    <tr>
                        <td>Големина: </td>
                        <td>Малки, Средни</td>
                    </tr>
                    <tr>
                        <td>Възраст: </td>
                        <td>30г.</td>
                    </tr>
                    <tr>
                        <td>Дата на публикуване: </td>
                        <td>2/10/2023</td>
                    </tr>
                    <tr>
                        <td>За мен:</td>
                        <td>Грижила съм се за животни през целия ми живот, много ги обичам, надеждна и отговорна съм и нямам търпение да се запозная с малките ви приятели.</td>
                </table>
            </div>     
                  
        <!--div carousel
                yellow Verified below
            div  gledach
                ime
                cena
                 swurjete se button
                table-->
        </div>
    </body>
</html>

<!-- 
<table mat-table [dataSource]="dataSource" class="info-table">
                    
    
    <ng-container matColumnDef="description">
      <th mat-header-cell *matHeaderCellDef>Адрес: </th>
      <td mat-cell *matCellDef="let element"> {{element.position}} </td>
    </ng-container>
  
   
    <ng-container matColumnDef="value">
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let element"> {{element.name}} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table> -->