.sitter-info {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: 2rem 0 1rem 0;
}

.img{
    margin-right: 2rem;
}

button{
    padding: 20px 40px;
    font-size: 15px;
    border-radius: 30px;
    margin-left: 20%;
    margin-top: 1rem;
    margin-bottom: 1rem;
   font-weight: bold;
}

.approved{
    margin-top:0.5rem;
    /* padding: 10px; */
    background-color: #F9D45E;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
}

p{
    padding-left: 30px;
    padding-right: 30px;
}

