.example-card {
    max-width: 270px;
    padding: 0;
  }
  
  div{
    margin:3%;
  }
  .fontawesomesvg {
    max-width: 1.5vw;
    padding-left: 2%;
    padding-right: 2%;
  }
  
  .small-text{
    font-size: 1vw;
  }

  .picture {
    height: 16vw;
    width: 19vw;
    object-fit: cover;
  }