<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Pet Owners</title>
    </head>
    <body>
            <nav-bar></nav-bar>
    <div class="list">
        <mat-grid-list cols="2" rowHeight="1:1">
            <mat-grid-tile
            colspan="1"
             rowspan="1"><b>1.</b> Създай своят профил.</mat-grid-tile>
             <mat-grid-tile
            colspan="1"
             rowspan="1"> <img src="assets/how1.jpg"></mat-grid-tile>
             <mat-grid-tile
            colspan="1"
             rowspan="1"><img src="assets/woman-holding-dog.jpg" alt=""></mat-grid-tile>
             <mat-grid-tile
            colspan="1"
             rowspan="1"> <span><b>2.</b> След регистрация, влез в профила си, създай обява <b> "Търся гледач" </b> или <b>"Аз съм гледач"</b> и попълни нужната информация.</span></mat-grid-tile>
             <mat-grid-tile
             colspan="1"
             rowspan="1"><span><b>3.</b> Можеш да имаш само една обява <b>"Аз съм гледач"</b>.</span></mat-grid-tile>
             <mat-grid-tile
            colspan="1"
             rowspan="1"><img src="assets/how2.jpg" alt=""></mat-grid-tile>
             <mat-grid-tile
            colspan="1"
             rowspan="1"><img src="assets/how3.png" alt=""></mat-grid-tile>
             <mat-grid-tile
            colspan="1"
             rowspan="1"><span><b>4.</b> Разгледай <b>"Стопани"</b> и <b>"Гледачи"</b>. Mожеш да отвориш всяка обява, за да видиш повече информация.</span></mat-grid-tile>
             <mat-grid-tile
             colspan="1"
              rowspan="1"><span><b>5.</b> Разгледай профила на <b>Стопанин</b> или <b>Гледач</b> като натиснеш върху неговото име или чрез <b>"Свържете се"</b> в обявата.</span></mat-grid-tile>
              <mat-grid-tile
              colspan="1"
               rowspan="1"><img src="assets/cat4.jpg" alt=""></mat-grid-tile>
            </mat-grid-list>
    </div>
    </body>
</html>
