<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Pet Owners</title>
    </head>
    <body>
            <nav-bar></nav-bar>
            <div *ngIf="!loggedIn" class="banner">
                <h2>Присъединете се към семейството!</h2>
               <button mat-raised-button href="#" color="accent" (click)="navigateToRegister()">Създай профил</button>
            </div>
        <!-- grid s info -->
        <mat-grid-list cols="2" rowHeight="1:1">
            <mat-grid-tile
            colspan="1"
             rowspan="1"></mat-grid-tile>
             <mat-grid-tile
            colspan="1"
             rowspan="1"></mat-grid-tile>

        </mat-grid-list>
    </body>
</html>
