div {
	display: flex;
	flex-direction: column;
	align-content: flex-start;
	align-items: flex-start;
	justify-content: flex-end;
	flex-wrap: wrap;
}

span {
  font-size: large;
  margin-top: 10%;
}

h2 {
    margin-bottom:5%;
    font-weight: 600;
}

.pet-type {
  margin-bottom: 8px;
}

.date-field {
  max-width: 9.5rem;
  margin-top: 1rem;
}
