<div>
    <h2>Филтри</h2>
    <span>Tип животно:</span>
    <mat-checkbox>Котки</mat-checkbox>
    <mat-checkbox>Кучета</mat-checkbox>
    <mat-checkbox>Птици</mat-checkbox>
    <mat-checkbox>Риби</mat-checkbox>
    <mat-checkbox>Други</mat-checkbox>
    <span>Пол:</span>
    <mat-checkbox>Женски</mat-checkbox>
    <mat-checkbox>Мъжки</mat-checkbox>
    <span>Големина: </span>
    <mat-checkbox>Малки</mat-checkbox>
    <mat-checkbox>Средни</mat-checkbox>
    <mat-checkbox>Големи</mat-checkbox>
    <span>Локация:</span>
    <mat-checkbox>София</mat-checkbox>
    <mat-checkbox>Пловдив</mat-checkbox>


    

</div>
