
<html>
<form [formGroup]="editProfileForm">
  <h2>Редактиране на профил</h2>
  <p>За да имате активна обява е необходимо всички полета да са попълнени.</p>
  <mat-radio-group aria-label="Select an option" formControlName="userType">
    <span>Ти си:</span>
    <mat-radio-button value="1" >Гледач</mat-radio-button>
    <mat-radio-button value="2">Стопанин</mat-radio-button>
</mat-radio-group>
<div class="owner-sitter">
    <h3>За теб: </h3>
    <h3>Имейл: ibanabv.bg</h3>
    <div class="about-self">
        <mat-form-field>
            <mat-label>Име:</mat-label>
            <input matInput placeholder="Иван Иванов" formControlName="name" required>
        </mat-form-field>
        
        <mat-form-field>
            <mat-label>Локация:</mat-label>
        <input matInput placeholder="София, България" formControlName="location" required>
    </mat-form-field>
    </div>

    <!-- ng if sitter -->
    <mat-form-field *ngIf="editProfileForm.get('userType')?.value == 1">
        <mat-label>Възраст:</mat-label>
        <input matInput type="number" placeholder="34" formControlName="age" required>
    </mat-form-field>
<div>
    <mat-label>Профилна снимка:</mat-label>
    <input type="file" #profilePicInput hidden (change)="onProfilePicSelect($event)">
    <button type="button" mat-icon-button (click)="profilePicInput.click()">
        <mat-icon>attach_file</mat-icon>
    </button>
    <div  class="profile-picture">
        <div class="selectedPictureContainer">
            <button type="button" mat-icon-button (click)="removeProfilePic()">
                <mat-icon>delete</mat-icon>
            </button>
            <img class="selectedPicture" [src]="profilePicBlob" >
        </div>
    </div>
</div>
    <div>
        <div class="aboutPets">
                <!-- ng if owner -->
            <h3 *ngIf="editProfileForm.get('userType')?.value == 2">За любимците: </h3>
            <!-- ng if sitter -->
            <h3 *ngIf="editProfileForm.get('userType')?.value == 1">Любимци, които бихте гледали: </h3>
            <div class="type">
                <span>Вид:</span>
                    <mat-checkbox formControlName="cats">Котки</mat-checkbox>
                    <mat-checkbox formControlName="dogs">Кучета</mat-checkbox>
                    <mat-checkbox formControlName="birds">Птици</mat-checkbox>
            </div>
            <div class="size">
                <span>Големина:</span>
                    <mat-checkbox formControlName="small">Малки</mat-checkbox>
                    <mat-checkbox formControlName="large">Големи</mat-checkbox>
            </div>
            <!-- ng if owner -->
            <mat-form-field *ngIf="editProfileForm.get('userType')?.value == 2">
                <mat-label>Брой:</mat-label>
                <input matInput type="number" placeholder="1" formControlName="numberOfPets" required>
            </mat-form-field>
        </div>
        <div class="dates-description" *ngIf="editProfileForm.get('userType')?.value == 2">
            <h3>Дати: </h3>
            <mat-form-field>
                <mat-label>Начална дата:</mat-label>
                <input matInput type="date" placeholder="1" formControlName="startDate" required>
            </mat-form-field>
            <mat-form-field>
                <mat-label>Крайна дата:</mat-label>
                <input matInput type="date" placeholder="1" formControlName="endDate" required>
            </mat-form-field>
        </div>
    </div>
    
    <!-- ng if sitter -->
    <div class="sitter" *ngIf="editProfileForm.get('userType')?.value == 1">
        <mat-form-field>
            <mat-label>Цена на час:</mat-label>
            <input matInput type="number" placeholder="10" formControlName="price" required>
        </mat-form-field>
    </div>

    <div class="more-info">
        <h3>Допълнителна информация: </h3>
    <mat-form-field>
        <textarea matInput type="text" formControlName="description"></textarea>
    </mat-form-field>
    </div>
    <span>Снимки: </span>
    <input type="file" #fileInput hidden (change)="onFileSelect($event)" multiple>
    <button type="button" mat-icon-button (click)="fileInput.click()">
        <mat-icon>attach_file</mat-icon>
    </button>
    <div  class="selectedPictures">
        <div class="selectedPictureContainer" *ngFor="let picture of pictureBlobs; let i = index">
            <button type="button" mat-icon-button (click)="removePicture(i)">
                <mat-icon>delete</mat-icon>
            </button>
            <img class="selectedPicture" [src]="picture" >
        </div>
    </div>
</div>
<div>
    <button mat-raised-button color="primary" (click)="onSubmit()">Запази</button>
    <button mat-raised-button color="primary" >Изход??</button>
</div>  
</form>
  </html>
