<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Pet Sitters</title>
    </head>
    <body>
            <nav-bar></nav-bar>
            <div class="user-info">
                <mat-grid-list cols="3" rowHeight="2:1">
                    <mat-grid-tile>
                        <img [src]="user!.profilePic" alt="Profile Picture" class="profile-picture">
                        <div class="info">
                        <span class="name">{{user!.name}}</span>
                        <span class="email">{{user!.email}}</span>
                        <span class="location">{{user!.location}}</span>
                        </div>
                    </mat-grid-tile>
                    <mat-grid-tile>
                        <button *ngIf="isMyProfile" mat-raised-button href="#" color="primary" (click)="createPetOwnerOffer()">Създай обява "Търся гледач"</button>
                        <button *ngIf="!isMyProfile" mat-raised-button href="#" color="primary" (click)="createReview()">Остави ревю</button>
                    </mat-grid-tile>
                    <mat-grid-tile>
                        <button *ngIf="isMyProfile" mat-raised-button href="#" color="primary" (click)="createPetSitterOffer">Създай обява "Аз съм гледач"</button>
                    </mat-grid-tile>
                </mat-grid-list>
                <div class="line"></div>
                <div class="title-offers">Oбяви "Търся гледач":</div>
                <div class="offers">
                    <!-- <mat-grid-list cols="3" rowHeight="2:3">
                        <mat-grid-tile *ngFor="let offer of ownerOffers"
                        colspan="1"
                        rowspan="1" (click)="navigateToDetails(offer)"><owner-offer-card [ownerOffer]="offer"></owner-offer-card></mat-grid-tile>
                    </mat-grid-list> -->
                </div>
                <div class="title-offers">Oбяви "Аз съм гледач":</div>
                <div class="title-offers">Ревюта за {{user!.name}}:</div>
                <button *ngIf="isMyProfile" class = "logout" mat-raised-button href="#" color="primary" (click)="logout()">Изход</button>
        </div>
    </body>
</html>
