<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html">
    <head>
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>Pet Owners</title>
    </head>
    <body>
      <nav-bar></nav-bar>
      <div *ngIf="!loggedIn" class="banner">
        <h2>Присъединете се към семейството!</h2>
        <button mat-raised-button href="#" color="accent" (click)="navigateToRegister()" >Създай профил</button>
      </div>
      <div class="pet-list">
        <filters></filters>
        <mat-grid-list cols="3" rowHeight="2:3">
          <mat-grid-tile *ngFor="let petOwnerOffer of petOwnerOffers"
                         colspan="1"
                         rowspan="1" (click)="navigateToDetails(petOwnerOffer)">
            <owner-offer-card [ownerOffer]="petOwnerOffer"></owner-offer-card>
          </mat-grid-tile>
        </mat-grid-list>
      </div>
      <div class="paginator-wrapper">
        <mat-paginator [length]="numOfItems" [pageSize]=pageSize [pageIndex]=currentPage (page)=pageChanged($event) class="paginator"></mat-paginator>
        <p class="page-number"><span class="page-size">Items per page: {{pageSize}}</span><span>Page {{currentPage + 1}}</span></p>
      </div>
    </body>
</html>
