<html>
<form>
  <h2>Влез в профил</h2>
    <mat-form-field>
        <mat-label>Имейл:</mat-label>
        <input matInput placeholder="pat@example.com" [formControl]="email" required>
      </mat-form-field>
  
    <mat-form-field>
        <mat-label>Парола:</mat-label>
        <input matInput [type]="hide ? 'password' : 'text'" required [formControl]="password">
        <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
          <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
    </mat-form-field>
  
    <button mat-raised-button color="primary" (click)="login()">Вход</button>
    <!-- <button mat-stroked-button class="google-btn" color="primary" (click)="singInWithGoogle()"><img class="logo" src="/assets/googleLogo.png"> GOOGLE</button> -->
  </form>
  </html>
