<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Pet Sitters</title>
    </head>
    <body>
        <nav-bar></nav-bar>
        <div class="sitter-info">
            <div class="carousel">
                <c-carousel [animate]="false" [dark]="true" [interval]="9999999" [transition]="'crossfade'">
                    <c-carousel-inner>
                      <c-carousel-item *ngFor="let slide of slides">
                        <img
                          [src]="slide.src"
                          alt="{{ slide.title }}"
                          class="d-block w-100"
                           />
                      </c-carousel-item>
                      <c-carousel-control class="prev" caption="Previous" direction="prev">
                        <mat-icon aria-hidden="false" fontIcon="keyboard_arrow_right"></mat-icon></c-carousel-control>
                      <c-carousel-control class="next" caption="Next" direction="next">
                        <mat-icon aria-hidden="false" fontIcon="keyboard_arrow_left"></mat-icon></c-carousel-control>
                    </c-carousel-inner>
                    <div class="approved"><p class="auth">100% Проверена самоличност</p></div>
                  </c-carousel>
            </div>
            <div class="info">
                <div class="name">Петя Николова</div>
                <div class="pet-names">Джери и Рико</div>
                <button mat-raised-button href="#" color="accent">Свържете се</button>
                <table>
                    <tr>
                        <td>Адрес:</td>
                        <td *ngFor="let owner of owners">{{owner.adress}}</td>
                    </tr>
                    <tr>
                        <td>Любимци: </td>
                        <td>Куче, птица</td>
                    </tr>
                    <tr>
                        <td>Големина: </td>
                        <td>Малки, Средни</td>
                    </tr>
                    <tr>
                        <td>Брой: </td>
                        <td>2</td>
                    </tr>
                    <tr>
                        <td>Дати: </td>
                        <td>2/10/2023 - 15/10/2023</td>
                    </tr>
                    <tr>
                        <td>За любимците:</td>
                        <td>Джери и Рико са моите малки бонбончета. Много се притеснявам да ги оставя сами за първи път и търся отговорен човек, на когото мога да разчитам за комуникация всеки ден.</td>
                </table>
            </div>     
                  
        <!--div carousel
                yellow Verified below
            div  gledach
                ime
                cena
                 swurjete se button
                table-->
        </div>
    </body>
</html>
