.owner-offer-card {
  width: 260px;
  min-height: 350px;
}

mat-card-title {
  font-size: 16px;
  margin-top: 10px;
}

.fontawesomesvg {
  max-width: 1.5vw;
  padding-right: 2%;
  padding-top:2%;
}

.pet {
  margin-right: 10px;
}

.small-text {
  font-size: 1vw;
}

.example-header-image {
  background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
  background-size: cover;
}

.profile-picture {
  background-size: cover;
}

.offer-picture {
  min-width: 15rem;
  max-width: 16rem;
  height: 40vh;
  width: 100%;
  object-fit: cover;
}

.details-icon {
  max-height: 10px;
  max-width: 10px;
  margin-right: 4px;
}

.details {
  margin-bottom: 3%;
}
